### Load packages and data files from previous notebook

In [1]:
## Imports
from scipy import io
import pandas as pd
import numpy as np
import os
import pandas_profiling
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
## Load Matlab files
file_path = r'C:\Users\natha\Desktop\bootcamp_repo-1\NW_Atlantic_Fishery_Sustainability\data\interim'
AMO_file, biomass_file, ecosystem_file, landings_file, ocean_temp_file = [fr'{file_path}\AMO_data.csv', \
    fr'{file_path}\biomass_data.csv', fr'{file_path}\ecosystem_data.csv', fr'{file_path}\landings_data.csv', \
    fr'{file_path}\ocean_temp_data.csv']

AMO_df = pd.read_csv(AMO_file).drop(['Unnamed: 0'], axis=1)
biomass_df = pd.read_csv(biomass_file).drop(['Unnamed: 0'], axis=1)
ecosystem_df = pd.read_csv(ecosystem_file).drop(['Unnamed: 0'], axis=1)
landings_df = pd.read_csv(landings_file).drop(['Unnamed: 0'], axis=1)
ocean_temp_df = pd.read_csv(ocean_temp_file).drop(['Unnamed: 0'], axis=1)

### Generate df reports and save to files

In [25]:
def make_html_report (df, name):
    report = df.profile_report(sort=None, html={'style':{'full_width': True}}, progress_bar=True)
    report.to_file(fr"C:\Users\natha\Desktop\bootcamp_repo-1\NW_Atlantic_Fishery_Sustainability\reports\{name}_data_report.html")
    print(f'{name} done!')

make_html_report(AMO_df, 'AMO')
make_html_report(biomass_df, 'biomass')
make_html_report(ecosystem_df, 'ecosystem')
make_html_report(landings_df, 'landings')
make_html_report(ocean_temp_df, 'ocean_temp')

Summarize dataset: 100%|██████████| 195/195 [01:07<00:00,  2.88it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:12<00:00, 12.93s/it]
Render HTML: 100%|██████████| 1/1 [00:11<00:00, 11.30s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 19.61it/s]

AMO done!

Summarize dataset: 100%|██████████| 153/153 [00:52<00:00,  2.90it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:14<00:00, 14.12s/it]
Render HTML: 100%|██████████| 1/1 [00:09<00:00,  9.45s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 17.54it/s]

biomass done!

Summarize dataset: 100%|██████████| 18/18 [00:01<00:00, 14.10it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:03<00:00,  3.28s/it]
Render HTML: 100%|██████████| 1/1 [00:00<00:00,  1.71it/s]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 111.11it/s]

ecosystem done!

Summarize dataset: 100%|██████████| 36/36 [00:06<00:00,  5.85it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.83s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.52s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 71.44it/s]

landings done!

Summarize dataset: 100%|██████████| 55/55 [00:11<00:00,  4.59it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:06<00:00,  6.37s/it]
Render HTML: 100%|██████████| 1/1 [00:01<00:00,  1.97s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00, 50.01it/s]

ocean_temp done!

## Data defining:

### In Biomass:
biomass in tons per square kilometer (t/km^2).
biomass_index in tons.
abundance in number per square kilometer.
abundance_index in number.

### In Landings:
landings_biomass in tons per square kilometer (t/km^2).
landings_biomass_index in tons.
landings_abundance in number per square kilometer.
landings_abundance_index in number.

## Decisions made for data cleaning:

Change nothing in ecosystem or ocean temp data. Annualize AMO data instead of month-by-month to AMO_ann_data.csv. All ecosystems in landings_data area also found in biomass_data. Combine biomass and landing df's by renaming landing df columns and dropping biomass df columns (drop SE and unit columns)

In [3]:
biomass_spec =  list(set(biomass_df['species'].values))
biomass_loc = list(set(biomass_df['ecosystem'].values))
landings_spec = list(set(landings_df['species'].values))
landings_loc = list(set(landings_df['ecosystem'].values))
biomass_spec.sort()
biomass_loc.sort()
landings_spec.sort()
landings_loc.sort()

print(biomass_spec)
print(landings_spec)

['AFRICAN_POMPANO', 'ALEWIFE', 'AMERICAN_EEL', 'AMERICAN_LOBSTER', 'AMERICAN_SAND_LANCE', 'AMERICAN_SHAD', 'ATLANTIC_ANGEL_SHARK', 'ATLANTIC_ARGENTINE', 'ATLANTIC_BONITO', 'ATLANTIC_COD', 'ATLANTIC_CROAKER', 'ATLANTIC_CUTLASSFISH', 'ATLANTIC_HERRING', 'ATLANTIC_MACKEREL', 'ATLANTIC_MENHADEN', 'ATLANTIC_MOONFISH', 'ATLANTIC_SHARPNOSE_SHARK', 'ATLANTIC_SILVERSIDE', 'ATLANTIC_SPADEFISH', 'ATLANTIC_STURGEON', 'ATLANTIC_THREAD_HERRING', 'ATLANTIC_TOMCOD', 'African_pompano', 'Alewife', 'Alewife_and_Blueback_herring', 'Alewife_and_River_herring', 'American_Shad_1+', 'American_butterfish', 'American_eel', 'American_eel_age-1+', 'American_eel_yoy/larvae', 'American_fourspot_flounder', 'American_lobster', 'American_plaice', 'American_sand_lance', 'American_sand_lance_yoy', 'American_shad', 'Anchovy_spp_yoy-est', 'Anemones', 'Arks', 'Atlantic_Needlefish', 'Atlantic_angel_shark', 'Atlantic_bonito', 'Atlantic_butterfish', 'Atlantic_cod', 'Atlantic_croaker', 'Atlantic_cutlassfish', 'Atlantic_halibut', 'Atlantic_herring', 'Atlantic_herring_yoy-est', 'Atlantic_mackerel', 'Atlantic_menhaden', 'Atlantic_moonfish', 'Atlantic_needlefish', 'Atlantic_redfishes_NS', 'Atlantic_salmon', 'Atlantic_sharpnose_shark', 'Atlantic_silverside', 'Atlantic_spadefish', 'Atlantic_sturgeon', 'Atlantic_threadfin', 'Atlantic_tomcod', 'Atlantic_wolffish', 'BANDED_DRUM', 'BANDED_RUDDERFISH', 'BANDTOOTH_CONGER', 'BAY_ANCHOVY', 'BAY_WHIFF', 'BIGEYE', 'BIGEYE_CIGARFISH', 'BIGEYE_SCAD', 'BLACKBAR_SOLDIERFISH', 'BLACKCHEEK_TONGUEFISH', 'BLACK_DRUM', 'BLACK_SEA_BASS', 'BLOTCHED_CUSK_EEL', 'BLUEBACK_HERRING', 'BLUEFISH', 'BLUESPOTTED_CORNETFISH', 'BLUE_CRAB', 'BLUE_RUNNER', 'BLUNTHEAD_PUFFER', 'BLUNTNOSE_JACK', 'BLUNTNOSE_STINGRAY', 'BRIEF_SQUID', 'BULLET_MACKEREL', 'BULLNOSE_RAY', 'BUTTERFISH', 'Banded_rudderfish', 'Barndoor_skate', 'Bay_anchovy', 'Bay_anchovy_YOY', 'Bigeye', 'Bigeye_scad', 'Black_crappie', 'Black_drum', 'Black_sea_bass', 'Black_sea_bass_YOY', 'Black_seabass', 'Blackcheek_tonguefish', 'Blood_star', 'Blue_catfish_YOY', 'Blue_catfish_age-1+', 'Blue_crab', 'Blue_crab_YOY', 'Blue_crab_female', 'Blue_crab_male', 'Blue_mussel', 'Blue_runner', 'Blueback_herring', 'Bluefish', 'Bluegill', 'Bluespotted_cornetfish', 'Bluntnose_stingray', 'Bobtail_squid', 'Bonefish', 'Boreal__squid', 'Boring_sponge', 'Brown_bullhead', 'Brown_shrimp', 'Bullnose_ray', 'Bushy_bryozoan', 'Butterfish', 'CHANNELED_WHELK', 'CHESTNUT_ASTARTE', 'CHUB_MACKEREL', 'CLEARNOSE_SKATE', 'COBIA', 'COMMON_RAZOR_CLAM', 'COMMON_SPIDER_CRAB', 'CONGER_EEL', 'COWNOSE_RAY', 'CREVALLE_JACK', 'CUNNER', 'Carp', 'Chain_pickerel', 'Channel_catfish', 'Channel_catfish_YOY', 'Channel_catfish_age-1+', 'Channeled_whelk', 'Channeled_whelk_egg_case', 'Clearnose_skate', 'Coastal_mud_shrimp', 'Cobia', 'Codium_spp.', 'Common_oyster', 'Common_razor_clam', 'Common_slipper_shell', 'Conger_eel', 'Conger_eel_yoy/larvae', 'Cownose_ray', 'Crevalle_jack', 'Cunner', 'DOG_WHELK', 'DOTTEREL_FILEFISH', 'DUSKY_ANCHOVY', 'DUSKY_SHARK', 'DWARF_GOATFISH', 'DWARF_HERRING', "Deadman's_fingers_sponge", 'Diamondback_terrapin', 'Dusky_shark', 'Dwarf_goatfish', 'Eelgrass', 'FALSE_QUAHOG', 'FEATHER_BLENNY', 'FLAT_ANCHOVY', 'FLORIDA_POMPANO', 'FOURBEARD_ROCKLING', 'FOURSPINE_STICKLEBACK', 'FOURSPOT_FLOUNDER', 'Fallfish', 'Fan_worm_tubes', 'Fawn_cusk-eel', 'Feather_blenny', 'Flat_claw_hermit_crab', 'Florida_pompano', "Forbes'_sea_star", 'Four-spot_flounder', 'Fourbeard_rockling', 'Fourspine_stickleback', 'Fourspot_flounder', 'Freshwater_clam', 'Fringed_flounder', 'GIZZARD_SHAD', 'GOOSEFISH', 'GRAY_TRIGGERFISH', 'GREATER_AMBERJACK', 'GRUBBY', 'GUAGUANCHE', 'GULF_SHRIMP_PINK;BROWN;WHITE', 'GULF_STREAM_FLOUNDER', 'Gadus_spp._yoy/larvae', 'Ghost_shrimp', 'Gizzard_shad', 'Glasseye_snapper', 'Gobies_NS', 'Golden_shiner', 'Goldfish', 'Goosefish', 'Gray_snapper', 'Gray_triggerfish', 'Gray_weakfish', 'Green_sea_urchin', 'Green_sunfish', 'Grubby', 'Gulfstream_flounder', 'HADDOCK', 'HARD_CLAM', 'HARVESTFISH', 'HICKORY_SHAD', 'HOGCHOKER', 'HORSESHOE_CRAB', 'Haddock', 'Hard_clams', 'Harvestfish', 'Hickory_shad', 'Hogchoker', 'Horseshoe_crab', 'Houndfish', 'Hydroid_spp.', 'INSHORE_LIZARDFISH', 'Inquiline_snailfish', 'Inshore_lizardfish', 'JONAH_CRAB', 'Japanese_shore_crab', 'Johnny_Darter', 'Jonah_crab', 'KNOBBED_WHELK', 'Kelp', 'Killifish_NS', 'Kingfish_NS', 'Knobbed_whelk', 'Knobbed_whelk_egg_case', 'LADY_CRAB', 'LADY_FISH', 'LEATHERBACK_TURTLE', 'LEATHERJACKET', 'LESSER_AMBERJACK', 'LINED_SEAHORSE', 'LITTLE_SKATE', 'LITTLE_TUNNY', 'LOGGERHEAD_TURTLE', 'LONGFIN_SQUID', 'LONGHORN_SCULPIN', 'LONGSPINE_PORGY', 'LOOKDOWN', 'Lady_crab', 'Largemouth_bass', 'Lined_seahorse', "Lion's_mane_jellyfish", 'Little_skate', 'Little_skate_egg_case', 'Loggerhead_sea_turtle', 'Longfin_squid', 'Longhorn_sculpin', 'Longnose_sucker', 'Lookdown', 'Lumpfish', 'MACKEREL_SCAD', 'MANTIS_SHRIMP', 'MUMMICHOG', 'Mackerel_scad', 'Mantis_shrimp', 'Marsh_crab', 'Mixed_algae_species', 'Mixed_sponge_species', 'Moon_jelly', 'Moon_snail_egg_case', 'Moonfish', 'Mud_crab', 'Mud_crabs', 'Mummichog', 'NAKED_GOBY', 'NORTHERN_KINGFISH', 'NORTHERN_MOON_SHELL', 'NORTHERN_PIPEFISH', 'NORTHERN_PUFFER', 'NORTHERN_SEAROBIN', 'NORTHERN_SENNET', 'NORTHERN_STARGAZER', 'NUMBER_UNASSIGNED', 'Naked_goby', 'Nemerteans', 'Northern_comb_jelly', 'Northern_cyclocardia', 'Northern_kingfish', 'Northern_moon_snail', 'Northern_pipefish', 'Northern_puffer', 'Northern_red_shrimp', 'Northern_sand_lance', 'Northern_searobin', 'Northern_sennet', 'Northern_stargazer', 'Northern_tonguefish', 'OCEAN_POUT', 'OCEAN_QUAHOG', 'OFFSHORE_LIZARDFISH', 'OFFSHORE_SEAHORSE', 'ORANGE_FILEFISH', 'OYSTER_TOADFISH', 'Ocean_pout', 'Orange_filefish', 'Oyster_toadfish', 'PASTEL_SWIMMING_CRAB', 'PIGFISH', 'PINFISH', 'PLANEHEAD_FILEFISH', 'POLLOCK', 'Painted_turtle', 'Permit', 'Pigfish', 'Pinfish', 'Planehead_filefish', 'Pollock', 'Polychaetes', 'Portly_spider_crab', 'Pumpkinseed', 'Purple_sea_urchin', 'RED_CORNETFISH', 'RED_GOATFISH', 'RED_HAKE', 'REMORA', 'ROCK_CRAB', 'ROCK_GUNNEL', 'ROUGHTAIL_STINGRAY', 'ROUGH_SCAD', 'ROUND_HERRING', 'ROUND_SCAD', 'Rainbow_smelt', 'Red_bearded_sponge', 'Red_cornetfish', 'Red_goatfish', 'Red_hake', 'Redbreast_sunfish', 'Redear_sunfish', 'Redfin_pickerel', 'Ribbed_mussel', 'Rock_and_Jonah_crab', 'Rock_crab', 'Rock_gunnel', 'Rockweed_fucus', 'Rough_scad', 'Roughtail_stingray', 'Round_herring', 'Round_scad', 'Rubbery_bryzoan', 'SANDBAR_SHARK', 'SAND_TIGER', 'SCAMP', 'SCRAWLED_FILEFISH', 'SCUP', 'SEASNAIL', 'SEA_LAMPREY', 'SEA_RAVEN', 'SEA_SCALLOP', "SHARK'S_EYE_OR_LOBED_MOON_SHELL", 'SHARKSUCKER', 'SHEEPSHEAD', 'SHORTFIN_SQUID', 'SHORTNOSE_STURGEON', 'SHORT_BIGEYE', 'SILVER_ANCHOVY', 'SILVER_HAKE', 'SILVER_PERCH', 'SKILLETFISH', 'SMALLMOUTH_FLOUNDER', 'SMOOTH_BUTTERFLY_RAY', 'SMOOTH_DOGFISH', 'SNAKEFISH', 'SOUTHERN_KINGFISH', 'SOUTHERN_STINGRAY', 'SPANISH_MACKEREL', 'SPANSIH_SARDINE', 'SPECIES_UNKNOWN', 'SPINY_BUTTERFLY_RAY', 'SPINY_DOGFISH', 'SPINY_SEAROBIN', 'SPOT', 'SPOTFIN_BUTTERFLYFISH', 'SPOTFIN_MOJARRA', 'SPOTTAIL_PINFISH', 'SPOTTED_HAKE', 'SPOTTED_TRUNKFISH', 'SQUIRRELFISH', 'STRIPED_ANCHOVY', 'STRIPED_BASS', 'STRIPED_BURRFISH', 'STRIPED_CUSK_EEL', 'STRIPED_KILLIFISH', 'STRIPED_MULLET', 'STRIPED_SEAROBIN', 'STRIPED_SEASNAIL', 'SUMMER_FLOUNDER', 'SURF_CLAM', 'Sand_dollar', 'Sand_lance', 'Sand_shrimp', 'Sand_tiger_shark', 'Sandbar__shark', 'Sandbar_shark', 'Scup', 'Sea_cucumber', 'Sea_grape', 'Sea_lamprey', 'Sea_raven', 'Sea_scallop', 'Seasnail', 'Sharksucker', 'Sheepshead', 'Shore_shrimp', 'Short_bigeye', 'Shortfin_squid', 'Shortnose_sturgeon', 'Silver_hake', 'Silver_perch', 'Silver_perch_YOY', 'Silverside_NS', 'Skates_NS', 'Smallmouth_bass', 'Smallmouth_flounder', 'Smooth_butterfly_ray', 'Smooth_dogfish', 'Snowy_grouper', 'Spanish_mackerel', 'Spider_crab', 'Spiny_butterfly_ray', 'Spiny_dogfish', 'Spot', 'Spot_YOY', 'Spotfin_butterflyfish', 'Spotfin_mojarra', 'Spottail_shiner', 'Spotted_hake', 'Squid_eggs', 'Star_coral', 'Starfish_spp.', 'Striped_anchovy', 'Striped_bass', 'Striped_bass_CWT', 'Striped_bass_YOY', 'Striped_burrfish', 'Striped_cusk-eel', 'Striped_killifish', 'Striped_mullet', 'Striped_searobin', 'Summer_flounder', 'Summer_flounder_YOY', 'Surf_clam', 'TAUTOG', 'THORNY_SKATE', 'THREESPINE_STICKLEBACK', 'THRESHER_SHARK', 'TRUNKFISH', 'Tautog', 'Tessellated_darter', 'Three-spine_stickleback', 'Threespine_stickleback', 'Thresher_shark', 'Tunicates_misc', 'UNCLASSIFED_SEA_URCHIN', 'UNCLASSIFED_STARFISH', 'UNCLASSIFIED_ANCHOVY', 'UNCLASSIFIED_BUTTERFLYFISH', 'UNCLASSIFIED_CALICO_CRAB', 'UNCLASSIFIED_CANCER_CRAB', 'UNCLASSIFIED_CUSK_EEL', 'UNCLASSIFIED_DRUM', 'UNCLASSIFIED_EEL', 'UNCLASSIFIED_FLOUNDER', 'UNCLASSIFIED_GOBY', 'UNCLASSIFIED_HAKE', 'UNCLASSIFIED_HERMIT_CRAB', 'UNCLASSIFIED_HERRING', 'UNCLASSIFIED_JACK_POMPANO', 'UNCLASSIFIED_LING', 'UNCLASSIFIED_LUMPFISH_SNAILFISH', 'UNCLASSIFIED_MOON_SNAIL', 'UNCLASSIFIED_OCTOPUS', 'UNCLASSIFIED_SAND_DOLLAR', 'UNCLASSIFIED_SEAROBIN', 'UNCLASSIFIED_SEA_BASS', 'UNCLASSIFIED_SHRIMP', 'UNCLASSIFIED_SKATE', 'UNCLASSIFIED_SNAPPER', 'UNCLASSIFIED_SQUID', 'UNCLASSIFIED_SWIMMING_CRAB', 'UNCLASSIFIED_TRIGGERFISH_FILEFISH', 'Ulva', 'WARSAW_GROUPER', 'WAVED_WHELK', 'WEAKFISH', 'WENCHMAN', 'WHITE_HAKE', 'WHITE_PERCH', 'WINDOWPANE', 'WINTER_FLOUNDER', 'WINTER_SKATE', 'WITCH_FLOUNDER', 'Water_jelly', 'Weakfish', 'Weakfish_YOY', 'Whelks', 'White_catfish', 'White_catfish_YOY', 'White_catfish_age-1+', 'White_crappie', 'White_hake', 'White_mullet', 'White_perch', 'White_perch_YOY', 'White_perch_age-1+', 'White_sucker', 'Windowpane', 'Windowpane_flounder', 'Winter_flounder', 'Winter_skate', 'Winter_skate_egg_case', 'Witch_flounder', 'YELLOWTAIL_FLOUNDER', 'YELLOW_JACK', 'Yellow_jack', 'Yellow_perch', 'Yellowtail_flounder', 'alewife', 'banded_gunnel', 'bay_anchovy', 'black_sea_bass', 'blue_crab', 'blue_mussel', 'blue_spotted_cornetfish', 'blueback_herring', 'bluefish', 'boreal__squid', 'brown_shrimp', 'butterfish', 'common_slipper_shell', 'crangon_and_palaemonete_shrimp', 'crevalle_jack', 'cunner', 'flat_claw_hermit_crab', 'flying_gurnard', 'fourspined_stickleback', 'green_crab', 'grey_snapper', 'grubby', 'hogchoker', 'inshore_lizardfish', 'jonah_crab', 'lady_crab', 'lined_seahorse', 'little_skate', 'mole_crab', 'mud_crabs', 'mud_snail', 'mummichog', 'naked_goby', 'ninespined_stickleback', 'northern_comb_jelly', 'northern_kingfish', 'northern_pipefish', 'northern_puffer', 'northern_searobin', 'northern_sennet', 'oster_drill', 'oyster_toadfish', 'pumkinseed', 'rainbow_smelt', 'rainwater_killifish', 'rock_crab', 'rock_gunnel', 'round_scad', 'sand_shrimp', 'scup', 'sea_horse', 'sheepshead_minnow', 'shore_shrimp', 'silver_perch', 'smallmouth_flounder', 'smooth_dogfish', 'spider_crab', 'spotted_hake', 'striped_anchovy', 'striped_bass', 'striped_burrfish', 'striped_killifish', 'striped_searobin', 'summer_flounder', 'tautog', 'threespined_stickleback', 'walleye', 'weakfish', 'web_burrfish', 'white_mullet', 'white_perch', 'windowpane_flounder', 'winter_flounder', 'winter_skate', 'y-o-y_winter_flounder']
['American_plaice', 'Atlantic_butterfish', 'Atlantic_cod', 'Atlantic_croaker', 'Atlantic_halibut', 'Atlantic_herring', 'Atlantic_mackerel', 'Atlantic_redfishes_NS', 'Atlantic_wolffish', 'Black_sea_bass', 'Bluefish', 'Butterfish', 'Goosefish', 'Haddock', 'Longfin_squid', 'Northern_kingfish', 'Northern_puffer', 'Ocean_pout', 'Pollock', 'Red_hake', 'Scup', 'Shortfin_squid', 'Silver_hake', 'Skates_NS', 'Smooth_dogfish', 'Southern_kingfish', 'Spiny_dogfish', 'Spot', 'Striped_bass', 'Summer_flounder', 'Weakfish', 'White_hake', 'White_perch', 'Windowpane', 'Winter_flounder', 'Witch_flounder', 'Yellowtail_flounder']

In [4]:
print(biomass_df[biomass_df['species']=='ALEWIFE'])
print(biomass_df[biomass_df['species']=='Alewife'])

      ecosystem  species  year  biomass  biomass_SE  abundance  abundance_SE  \
19626        NJ  ALEWIFE  1988      NaN         NaN        NaN           NaN
19627        NJ  ALEWIFE  1992      NaN         NaN        NaN           NaN
19628        NJ  ALEWIFE  1993      NaN         NaN        NaN           NaN
19629        NJ  ALEWIFE  1994      NaN         NaN        NaN           NaN
19630        NJ  ALEWIFE  1996      NaN         NaN        NaN           NaN
19631        NJ  ALEWIFE  1997      NaN         NaN        NaN           NaN
19632        NJ  ALEWIFE  1999      NaN         NaN        NaN           NaN
19633        NJ  ALEWIFE  2000      NaN         NaN        NaN           NaN
19634        NJ  ALEWIFE  2001      NaN         NaN        NaN           NaN
19635        NJ  ALEWIFE  2002      NaN         NaN        NaN           NaN
19636        NJ  ALEWIFE  2004      NaN         NaN        NaN           NaN
19637        NJ  ALEWIFE  2005      NaN         NaN        NaN           NaN
19638        NJ  ALEWIFE  2007      NaN         NaN        NaN           NaN
19639        NJ  ALEWIFE  2009      NaN         NaN        NaN           NaN
19640        NJ  ALEWIFE  1989      NaN         NaN        NaN           NaN
19641        NJ  ALEWIFE  1990      NaN         NaN        NaN           NaN
19642        NJ  ALEWIFE  1991      NaN         NaN        NaN           NaN
19643        NJ  ALEWIFE  1992      NaN         NaN        NaN           NaN
19644        NJ  ALEWIFE  1993      NaN         NaN        NaN           NaN
19645        NJ  ALEWIFE  1994      NaN         NaN        NaN           NaN
19646        NJ  ALEWIFE  1995      NaN         NaN        NaN           NaN
19647        NJ  ALEWIFE  1996      NaN         NaN        NaN           NaN
19648        NJ  ALEWIFE  1997      NaN         NaN        NaN           NaN
19649        NJ  ALEWIFE  1998      NaN         NaN        NaN           NaN
19650        NJ  ALEWIFE  1999      NaN         NaN        NaN           NaN
19651        NJ  ALEWIFE  2000      NaN         NaN        NaN           NaN
19652        NJ  ALEWIFE  2001      NaN         NaN        NaN           NaN
19653        NJ  ALEWIFE  2002      NaN         NaN        NaN           NaN
19654        NJ  ALEWIFE  2003      NaN         NaN        NaN           NaN
19655        NJ  ALEWIFE  2004      NaN         NaN        NaN           NaN
19656        NJ  ALEWIFE  2005      NaN         NaN        NaN           NaN
19657        NJ  ALEWIFE  2006      NaN         NaN        NaN           NaN
19658        NJ  ALEWIFE  2007      NaN         NaN        NaN           NaN
19659        NJ  ALEWIFE  2008      NaN         NaN        NaN           NaN
19660        NJ  ALEWIFE  2009      NaN         NaN        NaN           NaN
19661        NJ  ALEWIFE  2010      NaN         NaN        NaN           NaN
19662        NJ  ALEWIFE  1989      NaN         NaN        NaN           NaN
19663        NJ  ALEWIFE  1990      NaN         NaN        NaN           NaN
19664        NJ  ALEWIFE  1991      NaN         NaN        NaN           NaN
19665        NJ  ALEWIFE  1992      NaN         NaN        NaN           NaN
19666        NJ  ALEWIFE  1993      NaN         NaN        NaN           NaN
19667        NJ  ALEWIFE  1994      NaN         NaN        NaN           NaN
19668        NJ  ALEWIFE  1995      NaN         NaN        NaN           NaN
19669        NJ  ALEWIFE  1996      NaN         NaN        NaN           NaN
19670        NJ  ALEWIFE  1997      NaN         NaN        NaN           NaN
19671        NJ  ALEWIFE  1998      NaN         NaN        NaN           NaN
19672        NJ  ALEWIFE  1999      NaN         NaN        NaN           NaN
19673        NJ  ALEWIFE  2000      NaN         NaN        NaN           NaN
19674        NJ  ALEWIFE  2001      NaN         NaN        NaN           NaN
19675        NJ  ALEWIFE  2002      NaN         NaN        NaN           NaN
19676        NJ  ALEWIFE  2003      NaN         NaN        NaN           NaN
19677        NJ  ALEWIFE  2004      NaN         NaN        NaN           NaN
19678        NJ  ALEWIFE  2005      NaN         NaN        NaN           NaN
19679        NJ  ALEWIFE  2006      NaN         NaN        NaN           NaN
19680        NJ  ALEWIFE  2007      NaN         NaN        NaN           NaN
19681        NJ  ALEWIFE  2008      NaN         NaN        NaN           NaN
19682        NJ  ALEWIFE  2009      NaN         NaN        NaN           NaN
19683        NJ  ALEWIFE  2010      NaN         NaN        NaN           NaN

       biomass_index  biomass_index_SE  abundance_index abundance_index_units  \
19626       0.079853          0.009992         8.059926          1.1200579132
19627       0.000886               NaN         0.088608                   NaN
19628       0.002821               NaN         0.025641                   NaN
19629       0.001282          0.000299         0.036538      0.00064102564103
19630       0.000513               NaN         0.012821                   NaN
19631       0.000128               NaN         0.013077                   NaN
19632       0.000256               NaN         0.012821                   NaN
19633       0.002911          0.000655         0.266203        0.069658715881
19634       0.001026               NaN         0.013333                   NaN
19635       0.001519               NaN         0.066835                   NaN
19636       0.007179          0.000441         0.128205       0.0099307265287
19637       0.007949          0.000693         0.512564        0.059531748304
19638       0.000886          0.000190         0.037975       0.0063291139241
19639       0.007436          0.000728         0.206410        0.018527304512
19640       0.877206          0.023955              NaN                   NaN
19641       0.792464          0.017408         6.429710         0.13116542298
19642       1.108148          0.009262        10.441852        0.085396412292
19643       0.450123          0.002249         4.211111        0.023581333186
19644       0.557848          0.003601        10.577975        0.073572615949
19645       0.499231          0.005202         9.713782         0.17544915532
19646       0.869000          0.009674              NaN                   NaN
19647       2.702500          0.023212        32.306250         0.27062336096
19648       0.894744          0.007590        30.280128         0.28099624211
19649       5.056625          0.039986        58.887250         0.44957956027
19650       1.751538          0.014406        16.459038          0.1244934053
19651       0.856538          0.020346         5.298397         0.11570394358
19652       0.828354          0.017247         7.152405         0.15760625424
19653       3.588846          0.202315        47.641346          2.6277583881
19654       0.998987          0.005508              NaN                   NaN
19655       2.990380          0.017046        20.149304         0.10481938175
19656       2.010128          0.021249              NaN                   NaN
19657       0.125128          0.001750         1.386603        0.014845157285
19658       0.787564          0.006727         8.304936        0.085364969012
19659       1.773846          0.019576        24.175000         0.25013372059
19660       0.569103          0.004824         5.806410        0.089169830219
19661       0.037403          0.001172         0.506494        0.010435889507
19662       0.781296          0.007094        21.028704         0.16919001484
19663       0.751333          0.018050        18.329333         0.63594160903
19664       1.042258          0.019102        13.723065         0.33046367924
19665       0.458710          0.003910         7.384032         0.10238700975
19666       0.516333          0.006468        35.216667         0.53438573625
19667       0.068000          0.001014         4.964333         0.11720249951
19668       1.412333          0.019699        14.493333         0.20292729678
19669       0.432258          0.005569        13.322581         0.14641397099
19670       0.123871          0.001974         2.300484        0.034477336373
19671       5.362667          0.043145        71.038333         0.44760118588
19672       6.085000          0.090094        92.337333          1.6360056042
19673       2.543333          0.109425        89.866667          5.7493482771
19674       0.687333          0.026323         9.159833          0.2958206622
19675       2.587097          0.045309        15.690161         0.24150452817
19676       1.261333          0.028869        28.277500         0.84352870591
19677       1.383667          0.151077       221.710833          24.466766003
19678       0.419000          0.012123         9.713833         0.25422216405
19679       0.929000          0.007549        12.207333         0.12518151823
19680      10.695333          0.258885        80.223667          2.5189467945
19681       2.365000          0.042128        35.127667         0.67341782373
19682       7.619333          0.114711        55.666667         0.92521302866
19683       0.197000          0.018635        15.666667          2.0086773211

       abundance_index_SE  avg_len  avg_mass  \
19626                 NaN      NaN       NaN
19627                 NaN      NaN       NaN
19628                 NaN      NaN       NaN
19629                 NaN      NaN       NaN
19630                 NaN      NaN       NaN
19631                 NaN      NaN       NaN
19632                 NaN      NaN       NaN
19633                 NaN      NaN       NaN
19634                 NaN      NaN       NaN
19635                 NaN      NaN       NaN
19636                 NaN      NaN       NaN
19637                 NaN      NaN       NaN
19638                 NaN      NaN       NaN
19639                 NaN      NaN       NaN
19640                 NaN      NaN       NaN
19641                 NaN      NaN       NaN
19642                 NaN      NaN       NaN
19643                 NaN      NaN       NaN
19644                 NaN      NaN       NaN
19645                 NaN      NaN       NaN
19646                 NaN      NaN       NaN
19647                 NaN      NaN       NaN
19648                 NaN      NaN       NaN
19649                 NaN      NaN       NaN
19650                 NaN      NaN       NaN
19651                 NaN      NaN       NaN
19652                 NaN      NaN       NaN
19653                 NaN      NaN       NaN
19654                 NaN      NaN       NaN
19655                 NaN      NaN       NaN
19656                 NaN      NaN       NaN
19657                 NaN      NaN       NaN
19658                 NaN      NaN       NaN
19659                 NaN      NaN       NaN
19660                 NaN      NaN       NaN
19661                 NaN      NaN       NaN
19662                 NaN      NaN       NaN
19663                 NaN      NaN       NaN
19664                 NaN      NaN       NaN
19665                 NaN      NaN       NaN
19666                 NaN      NaN       NaN
19667                 NaN      NaN       NaN
19668                 NaN      NaN       NaN
19669                 NaN      NaN       NaN
19670                 NaN      NaN       NaN
19671                 NaN      NaN       NaN
19672                 NaN      NaN       NaN
19673                 NaN      NaN       NaN
19674                 NaN      NaN       NaN
19675                 NaN      NaN       NaN
19676                 NaN      NaN       NaN
19677                 NaN      NaN       NaN
19678                 NaN      NaN       NaN
19679                 NaN      NaN       NaN
19680                 NaN      NaN       NaN
19681                 NaN      NaN       NaN
19682                 NaN      NaN       NaN
19683                 NaN      NaN       NaN

                                               source  agency  season
19626  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP    FALL
19627  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP    FALL
19628  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP    FALL
19629  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP    FALL
19630  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP    FALL
19631  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP    FALL
19632  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP    FALL
19633  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP    FALL
19634  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP    FALL
19635  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP    FALL
19636  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP    FALL
19637  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP    FALL
19638  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP    FALL
19639  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP    FALL
19640  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19641  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19642  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19643  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19644  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19645  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19646  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19647  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19648  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19649  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19650  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19651  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19652  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19653  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19654  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19655  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19656  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19657  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19658  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19659  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19660  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19661  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  SPRING
19662  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19663  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19664  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19665  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19666  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19667  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19668  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19669  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19670  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19671  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19672  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19673  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19674  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19675  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19676  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19677  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19678  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19679  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19680  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19681  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19682  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
19683  NJ_Trawl_Survey_Ocean_Stock_Assessment_Program  NJ_DEP  WINTER
      ecosystem  species  year   biomass  biomass_SE    abundance  \
1364        Del  Alewife  1966       NaN         NaN    31.314603
1365        Del  Alewife  1967       NaN         NaN    64.240441
1366        Del  Alewife  1968       NaN         NaN    42.936103
1367        Del  Alewife  1969       NaN         NaN    22.986745
1368        Del  Alewife  1970       NaN         NaN    32.489116
...         ...      ...   ...       ...         ...          ...
12910        NB  Alewife  2006  0.009248    0.005935   460.105198
12911        NB  Alewife  2007  0.014823    0.008958   942.654553
12912        NB  Alewife  2008  0.028791    0.009930   825.888831
12913        NB  Alewife  2009  0.083624    0.059459  1506.844525
12914        NB  Alewife  2010  0.040053    0.026295  1103.289465

       abundance_SE  biomass_index  biomass_index_SE  abundance_index  \
1364            NaN            NaN               NaN              NaN
1365            NaN            NaN               NaN              NaN
1366            NaN            NaN               NaN              NaN
1367            NaN            NaN               NaN              NaN
1368            NaN            NaN               NaN              NaN
...             ...            ...               ...              ...
12910    369.048345            NaN               NaN              NaN
12911    610.091572            NaN               NaN              NaN
12912    280.052694            NaN               NaN              NaN
12913   1045.956690            NaN               NaN              NaN
12914    598.079759            NaN               NaN              NaN

      abundance_index_units  abundance_index_SE   avg_len  avg_mass  \
1364                     nd                 NaN       NaN       NaN
1365                     nd                 NaN       NaN       NaN
1366                     nd                 NaN       NaN       NaN
1367                     nd                 NaN       NaN       NaN
1368                     nd                 NaN       NaN       NaN
...                     ...                 ...       ...       ...
12910                    nd                 NaN  0.145652  0.020100
12911                    nd                 NaN  0.121290  0.015725
12912                    nd                 NaN  0.141463  0.034861
12913                    nd                 NaN  0.166286  0.055496
12914                    nd                 NaN  0.140208  0.036303

                   source                                  agency  season
1364   30_ft_bottom_trawl  Delaware_Division_of_Fish_and_Wildlife      nd
1365   30_ft_bottom_trawl  Delaware_Division_of_Fish_and_Wildlife      nd
1366   30_ft_bottom_trawl  Delaware_Division_of_Fish_and_Wildlife      nd
1367   30_ft_bottom_trawl  Delaware_Division_of_Fish_and_Wildlife      nd
1368   30_ft_bottom_trawl  Delaware_Division_of_Fish_and_Wildlife      nd
...                   ...                                     ...     ...
12910              Survey                                   RIDEM  Spring
12911              Survey                                   RIDEM  Spring
12912              Survey                                   RIDEM  Spring
12913              Survey                                   RIDEM  Spring
12914              Survey                                   RIDEM  Spring

[176 rows x 17 columns]

In [5]:
print(biomass_df.columns)
print(landings_df.columns)

biomass_df.drop(['biomass_SE', 'abundance_SE', 'biomass_index_SE', 'abundance_index_units', 'abundance_index_SE'], 
    axis=1, inplace=True)
landings_df.rename(columns={'landings_biomass':'biomass', 'landings_abund':'abundance', 
    'landings_biomass_index':'biomass_index', 'landings_abund_index':'abundance_index'}, inplace=True)
print(biomass_df.columns)
print(landings_df.columns)

Index(['ecosystem', 'species', 'year', 'biomass', 'biomass_SE', 'abundance',
       'abundance_SE', 'biomass_index', 'biomass_index_SE', 'abundance_index',
       'abundance_index_units', 'abundance_index_SE', 'avg_len', 'avg_mass',
       'source', 'agency', 'season'],
      dtype='object')
Index(['ecosystem', 'species', 'year', 'landings_biomass', 'landings_abund',
       'landings_biomass_index', 'landings_abund_index', 'avg_len', 'avg_mass',
       'source', 'agency', 'season'],
      dtype='object')
Index(['ecosystem', 'species', 'year', 'biomass', 'abundance', 'biomass_index',
       'abundance_index', 'avg_len', 'avg_mass', 'source', 'agency', 'season'],
      dtype='object')
Index(['ecosystem', 'species', 'year', 'biomass', 'abundance', 'biomass_index',
       'abundance_index', 'avg_len', 'avg_mass', 'source', 'agency', 'season'],
      dtype='object')

In [6]:
fish_df = pd.concat([biomass_df, landings_df], ignore_index=True)
print(fish_df.tail())
print(fish_df.shape)
print(biomass_df.shape)
print(landings_df.shape)

      ecosystem    species  year  biomass  abundance  biomass_index  \
31017        CB  Skates_NS  2003      NaN        NaN           62.6
31018        CB  Skates_NS  2005      NaN        NaN           38.7
31019        CB  Skates_NS  2006      NaN        NaN           20.4
31020        CB  Skates_NS  2007      NaN        NaN           68.4
31021        CB  Skates_NS  2008      NaN        NaN          265.7

       abundance_index  avg_len  avg_mass source agency season
31017              NaN      NaN       NaN     nd     nd     nd
31018              NaN      NaN       NaN     nd     nd     nd
31019              NaN      NaN       NaN     nd     nd     nd
31020              NaN      NaN       NaN     nd     nd     nd
31021              NaN      NaN       NaN     nd     nd     nd
(31022, 12)
(26137, 12)
(4885, 12)

In [51]:
sns.boxplot(x='species',y='biomass',data=fish_df)
plt.savefig('mygraph.png')

In [7]:
df_grouped = fish_df.groupby(by='species').describe()

In [43]:
df_grouped[df_grouped['biomass']['count']>1]['biomass']

,count,mean,std,min,25%,50%,75%,max
species,,,,,,,,
Alewife,125.0,0.008889,0.015133,0.000000,0.000660,0.002174,0.010226,0.083624
Alewife_and_Blueback_herring,47.0,0.113988,0.330209,0.001290,0.005570,0.012904,0.054777,1.942298
Alewife_and_River_herring,47.0,0.131931,0.162489,0.009031,0.028927,0.078045,0.185788,0.864734
American_butterfish,94.0,1.633931,2.474156,0.003828,0.072104,0.534661,2.287040,13.947598
American_eel,28.0,0.000390,0.000718,0.000000,0.000000,0.000000,0.000460,0.003062
...,...,...,...,...,...,...,...,...
Winter_flounder,570.0,1.097261,3.107601,0.000000,0.007251,0.056222,0.228627,26.789163
Winter_skate,122.0,0.008913,0.030120,0.000000,0.000000,0.000000,0.009445,0.302082
Witch_flounder,366.0,0.084340,0.201423,0.000016,0.002042,0.010188,0.044681,1.355565
Yellow_jack,14.0,0.000225,0.000254,0.000041,0.000065,0.000083,0.000347,0.000842
Yellowtail_flounder,360.0,0.127430,0.211869,0.000002,0.006611,0.027143,0.176790,1.532577

In [45]:
df_grouped[df_grouped['biomass_index']['count']>1]['biomass_index']

,count,mean,std,min,25%,50%,75%,max
species,,,,,,,,
AFRICAN_POMPANO,9.0,0.004406,0.005221,0.000128,0.001299,0.002532,0.004810,0.016667
ALEWIFE,58.0,1.344170,2.032481,0.000128,0.070963,0.766315,1.405167,10.695333
AMERICAN_EEL,16.0,0.012215,0.014853,0.000127,0.001373,0.007523,0.017250,0.050000
AMERICAN_LOBSTER,66.0,0.172386,0.165221,0.004487,0.050669,0.126192,0.217821,0.774000
AMERICAN_SAND_LANCE,60.0,0.359361,0.718628,0.000385,0.007191,0.033077,0.335694,4.067342
...,...,...,...,...,...,...,...,...
Winter_skate,29.0,0.910360,2.499829,0.001250,0.002500,0.008750,0.615833,10.937500
YELLOWTAIL_FLOUNDER,28.0,0.057391,0.065300,0.000147,0.005090,0.032773,0.075699,0.236282
YELLOW_JACK,3.0,0.006311,0.007959,0.001389,0.001720,0.002051,0.008772,0.015493
Yellow_jack,17.0,3.358627,2.995818,0.632500,0.919167,2.208333,5.900000,8.803750
Yellowtail_flounder,8.0,0.003021,0.002556,0.000833,0.001458,0.002083,0.003750,0.008333

In [44]:
df_grouped[df_grouped['abundance']['count']>1]['abundance']

,count,mean,std,min,25%,50%,75%,max
species,,,,,,,,
Alewife,148.0,301.216633,694.925745,0.000000,26.579554,83.739146,233.526638,6092.022880
Alewife_and_Blueback_herring,47.0,355.626415,1030.204615,4.025834,17.378184,40.258337,170.896625,6059.684655
Alewife_and_River_herring,47.0,241.140567,296.993085,16.505913,52.872609,142.648705,339.579058,1580.541845
American_butterfish,94.0,4739.858396,7019.347353,12.345891,218.804009,1595.638720,6973.112502,38714.020446
American_eel,39.0,0.855181,1.787035,0.000000,0.000000,0.000000,0.941119,7.866394
...,...,...,...,...,...,...,...,...
Windowpane_flounder,52.0,1379.397184,1923.602544,124.569740,341.700286,611.089055,1606.945526,10109.170725
Winter_flounder,242.0,3429.825247,5241.551951,0.000000,451.479101,1578.364823,4137.275464,35028.102714
Winter_skate,141.0,9.304113,21.797446,0.000000,0.000000,0.000000,8.802543,177.140501
Yellow_jack,17.0,3.673120,3.912566,0.412619,0.825238,2.475715,4.538811,13.203815
Yellowtail_flounder,10.0,0.453881,0.430323,0.275079,0.275079,0.275079,0.378234,1.650477

In [46]:
df_grouped[df_grouped['abundance_index']['count']>1]['abundance_index']

,count,mean,std,min,25%,50%,75%,max
species,,,,,,,,
AFRICAN_POMPANO,8.0,0.021450,0.015046,0.012658,0.012821,0.013064,0.025655,0.055833
ALEWIFE,54.0,21.789962,36.293860,0.012821,0.731074,9.713808,23.388426,221.710833
AMERICAN_EEL,16.0,0.039129,0.026731,0.012658,0.022993,0.033333,0.044872,0.101266
AMERICAN_LOBSTER,56.0,0.742649,1.059006,0.025641,0.199736,0.382491,0.877810,6.123309
AMERICAN_SAND_LANCE,60.0,38.784830,69.946856,0.025641,0.554532,5.051282,45.644824,295.780323
...,...,...,...,...,...,...,...,...
white_mullet,8.0,0.082387,0.076816,0.004739,0.022351,0.051658,0.145833,0.215686
white_perch,4.0,0.139729,0.106834,0.034286,0.055446,0.139093,0.223376,0.246445
windowpane_flounder,20.0,0.392496,0.393236,0.020833,0.100637,0.270621,0.453125,1.479167
winter_flounder,21.0,0.499630,1.242700,0.041667,0.125000,0.187500,0.291667,5.875000
y-o-y_winter_flounder,22.0,14.718073,9.921840,1.500000,6.764133,12.406250,21.644375,31.187500

In [49]:
df_grouped[df_grouped['avg_len']['count']>1]['avg_len']

,count,mean,std,min,25%,50%,75%,max
species,,,,,,,,
Alewife,72.0,21.359004,41.875662,0.080000,0.118588,0.150333,14.089167,223.250000
American_eel,13.0,310.113606,63.894455,185.051948,268.272727,332.088235,349.722222,395.600000
American_eel_age-1+,23.0,0.293109,0.031717,0.243100,0.262600,0.298600,0.319850,0.342700
American_lobster,64.0,0.654706,0.032740,0.593556,0.631921,0.653732,0.681172,0.724444
American_shad,46.0,35.237498,46.991434,0.085000,0.141250,0.206136,71.454389,173.833333
...,...,...,...,...,...,...,...,...
White_perch_age-1+,22.0,0.152932,0.006576,0.138900,0.148500,0.152150,0.157750,0.168300
Windowpane,63.0,0.220417,0.023413,0.148621,0.207040,0.218846,0.232579,0.280000
Winter_flounder,88.0,21.921224,36.322065,0.169333,0.215108,0.234311,61.797222,130.000000
Winter_skate,6.0,0.531258,0.092704,0.412000,0.457500,0.547357,0.598679,0.637500
Yellow_perch,15.0,132.306609,59.593483,47.000000,91.250000,124.000000,174.833333,254.000000

In [50]:
df_grouped[df_grouped['avg_mass']['count']>1]['avg_mass']

,count,mean,std,min,25%,50%,75%,max
species,,,,,,,,
Alewife,82.0,0.908722,1.967602,0.005867,0.020801,0.053136,0.467059,8.892308
American_eel,7.0,0.463590,0.350786,0.100000,0.216667,0.350000,0.651587,1.058621
American_lobster,110.0,0.392645,0.401283,0.100000,0.212181,0.261831,0.343716,2.415385
American_sand_lance,16.0,0.362373,0.361302,0.147368,0.183462,0.241377,0.325671,1.600000
American_sand_lance_yoy,9.0,0.154598,0.025991,0.112500,0.145000,0.154286,0.172727,0.195000
...,...,...,...,...,...,...,...,...
Windowpane_flounder,25.0,6.761834,5.141829,0.523529,2.400000,5.980172,9.717822,18.508772
Winter_flounder,116.0,2.876949,3.843480,0.039488,0.147563,0.278556,4.747619,15.240816
Winter_skate,35.0,2.038450,2.998286,0.100000,0.100000,0.175000,3.114687,10.937500
Yellow_jack,17.0,3.761670,2.768428,0.991358,1.553521,3.127500,5.974684,8.915190
Yellowtail_flounder,8.0,0.337500,0.292465,0.100000,0.175000,0.250000,0.400000,1.000000

In [8]:
csv_folder = r"C:\Users\natha\Desktop\bootcamp_repo-1\NW_Atlantic_Fishery_Sustainability\data\interim"
fish_df.to_csv(fr'{csv_folder}\fish_data.csv')